
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Form with Text Box");

    //retreive the data entered into the input controls
    //var datatype: resolves at execution time
    //to access a control of your page use: Request.Form["control parameter name"]
    //the data returned comes in as a STRING
    var myname = Request.Form["dataentry"];
    var thebutton = Request.Form["theButton"];
    //any other additional processing such as database access

    string choices = "";
}

@section banner {
    <h1>@Page.Title</h1>
}

<!-- determine if the page is a postback or not-->
@if (IsPost)
{
    <p>IsPost = true</p>
    //this true path is done IF this page is returning
    //from the previous sending

    //IF you have multiple buttons on your form, you SHOULD
    //determine which button was pressed; thus; dictating WHICH
    //logic is to be EXECUTED

    choices = Request.Form["food"];
    if (thebutton.Equals("submit"))
    {
        //the Press Me button was pressed
        if (string.IsNullOrEmpty(myname))
        {
            <p style="color:firebrick">You don't have a name?</p>
        }
        else
        {
            <p>Hello there @myname</p>
        }
    }
    else
    {
        //the Reset button was pressed
        myname = "";
        <p>You pressed the Reset button</p>
    }
    if (thebutton.Equals("reset"))
    {
        <p>You pressed the Reset button.</p>
        choices = "";
    }
    else
    {
        if (choices.IsEmpty())
        {
            <p style="color:firebrick">You havent made a meal selection</p>
            choices = "";
        }
        else
        {
            <p>@choices</p>
            var choicesarray = choices.Split(',');
            for (int i = 0; i < choicesarray.Length; i++)
            {
                <p>Choice @i: @choicesarray[i]</p>
            }
            //for a checkbox list, your choices will be a set of strings
            //   separated by a delimiter (in this case is a comma)
            //to divide up this set of strings use the .Split(delimiter) method
            //to process the collection of strings in choices, consider using foreach
            <p>
                I see you like these meals:
                <ul>
                    @foreach (var platform in choices.Split(','))
                    {
                        <li>@platform</li>
                    }
                </ul>
            </p>
        }
    }

}
else
{
    // use to initialize items on your form BEFORE it is sent
    // to the user for the FIRST time.
    <p>IsPost = false</p>
    choices = "";
}








<form id="theform" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="label1" for="dataentry">Customer Name:</label>&nbsp;&nbsp;
                <input type="text" id="dataentry" name="dataentry"
                       value="@myname" />
            </div>
        </div>

        <br /><br />
        <div class="col-3">
            <div class="offset-1">
                <strong><label id="food">Choice your meal items:</label></strong><br />
                <input type="checkbox" id="food" name="food" value="Steak"
                       @(Array.IndexOf(choices.Split(','), "Steak") >= 0 ? "checked" : "") />Steak<br />
                <input type="checkbox" id="food" name="food" value="Seafood"
                       @(Array.IndexOf(choices.Split(','), "Seafood") >= 0 ? "checked" : "") />Seafood<br />
                <input type="checkbox" id="food" name="food" value="Vegatables"
                       @(Array.IndexOf(choices.Split(','), "Vegatables") >= 0 ? "checked" : "") />Vegatables<br />
            </div>
        </div>
    </div>
    <div class="offset-1">
        <button type="submit" id="theButton" name="theButton"
                value="submit" class="btn btn-primary">
            Submit
        </button>&nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton"
                value="reset" class="btn btn-light">
            Reset
        </button>
    </div>


</form>




