@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 01");

    var myname = Request.Form["dataentry"];
    var thebutton = Request.Form["theButton"];

    string choices = "";
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
     var thebutton1 = Request.Form["theButton"];
    choices = Request.Form["food"];

    <p>IsPost = true</p>
    //this true path is done IF this page is returning
    //from the previous sending

    //IF you have multiple buttons on your form, you SHOULD
    //determine which button was pressed; thus; dictating WHICH
    //logic is to be EXECUTED
    if (thebutton.Equals("submit"))
    {
        //the Press Me button was pressed
        if (string.IsNullOrEmpty(myname))
        {
            <p style="color:firebrick">You don't have a name?</p>
            myname = "";
            choices = "";
        }
        else
        {
            <p>Hello there @myname</p>

        }
    }
    else
    {
        //the Reset button was pressed
        myname = "";
        choices = "";
        <p>You pressed the Reset button</p>
    }
}
else
{
   

    if (choices.IsEmpty())
    {
        <p style="color:firebrick">please select a food</p>
        choices = "";
    }
    else
    {
        //for a checkbox list, your choices will be a set of strings
        //   separated by a delimiter (in this case is a comma)
        //to divide up this set of strings use the .Split(delimiter) method
        //to process the collection of strings in choices, consider using foreach
        <p>
            I see you like these meals:
            <ul>
                @foreach (var platform in choices.Split(','))
                {
                    <li>@platform</li>
                }
            </ul>
        </p>
    }
    
}
 







<form id="theform" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="label1" for="dataentry">Customer Name:</label>&nbsp;&nbsp;
                <input type="text" id="dataentry" name="dataentry"
                       value="@myname" />
            </div>
        </div>

        <br /><br />
        <div class="col-3">
            <div class="offset-1">
                <strong><label id="food">Choice your meal items:</label></strong><br />
                <input type="checkbox" id="food" name="food" value="Steak"
                       @(Array.IndexOf(choices.Split(','), "Steak") >= 0 ? "checked" : "") />Steak<br />
                <input type="checkbox" id="food" name="food" value="Seafood"
                       @(Array.IndexOf(choices.Split(','), "Seafood") >= 0 ? "checked" : "") />Seafood<br />
                <input type="checkbox" id="food" name="food" value="Vegatables"
                       @(Array.IndexOf(choices.Split(','), "Vegatables") >= 0 ? "checked" : "") />Vegatables<br />
            </div>
        </div>
    </div>
    <div class="offset-1">
        <button type="submit" id="theButton" name="theButton"
                value="submit" class="btn btn-primary">
            Submit
        </button>&nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton"
                value="reset" class="btn btn-light">
            Reset
        </button>
    </div>


</form>




